{% extends "hats/base.html" %}

{% block content %}

	<h1>Your personal data</h1>

	<h2>Hobbies:</h2>

	<ul>
	  <li>Reading</li>
	  <li>Hiking</li>
	  <li>Playing the guitar</li>
	  <li>Cooking</li>
	  <li>Traveling</li>
	</ul>

	<h2>Favourite Toys/Collectibles:</h2>

	<ul>
	  <li>Teddy bear collection (has over 20 teddy bears)</li>
	  <li>Funko Pop! figures (has a vast collection of her favourite characters)</li>
	</ul>

	<h2>Programming Languages:</h2>

	<table>
	  <tr>
	    <th>Programming Language</th>
	    <td>Python</td>
	    <td>JavaScript</td>
	    <td>HTML/CSS</td>
	    <td>Java</td>
	    <td>Ruby</td>
	  </tr>
	</table>
	
{% endblock content %}
